<h1>companies</h1>
<h2>find your own</h2>
<div class="companies-list">
  <div class="company-listing" *ngFor="let company of companies$ | async">
    <div class="company-image">
      <img [src]="imgUrlpath + company.logo" alt="">
    </div>
    <div class="company-content">
      <div class="company-content__header">
        <a [routerLink]="['/companies', company.nid]">
          <h3>{{company.title}}</h3>
        </a>
        <p class="accent">{{company.city}}</p>
      </div>
      <div class="company-content__description">{{company.description}}</div>
      <div class="company-content__button">
          <a [routerLink]="['/companies', company.nid]">
            <button>read more</button>
          </a>
      </div>
    </div>
  </div>
</div>

