header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #f1461e;
  color: #e5eff1;
  font-size: 30px;
  padding-left: 20%;
  margin-bottom: 100px;

  @media screen and (max-width: 1100px) {
    padding-left: 10%;
  }

  @media screen and (max-width: 600px) {
    padding-left: 5%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}


